* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

:root {
  --bg-color: #242b33;
  --head-color: #e7ba30;
  --text-color: #fff;
  --footer-color: #2D343C;
}

body {
  font-family: Raleway;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 16px;
}

a {
  
  color: var(--head-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
  transition: color 0.25s ease-in; 
  
}



.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 74px;
  background-size: 100vw;
  /* min-height: 840px; */
  background: linear-gradient(
      180deg,
      #242b33 11.98%,
      rgba(45, 52, 60, 0.38) 51.04%,
      #242b33 96.19%
  ),
  url('./../img/backgr.png');
  /* background: url('./../img/backgr.png'); */
  background-repeat: no-repeat;
  
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* margin-right: 3rem */
  
}

.logo {
 font-size: 2.3rem;
}

.nav ul {
  display: flex;
  list-style-type: none;
  column-gap: 40px;
  font-size: 14px;
}

.header__title {
  color: var(--head-color);
  text-align: center;
  font-size: 48px;
}
.header__title span {
  color: #fff;
}

.info {
  font-size: 18px;
  position: relative;
  padding-left: 35px;
}

.info::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;
  width: 21px;
  height: 21px;

  background-image: url('./../img/map.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.info--tel::before {
  background-image: url('./../img/phone.svg');
}

.header__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-content: center;
  margin-bottom: 10%;
  margin-left: 5%;
}

.text-right {
  text-align: right;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

.screen {
  margin-top: 3rem;
}

.none{
  opacity: 0;
}

.about {
  display: flex;

  /* overflow:hidden; */
  
}

.desc {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 2rem;
  min-width: 300px;
}


.description {
  display: flex;
  flex-direction: column;
  /* font-size: 2rem; */
  font-size: 2rem;
  padding-top: 4rem;
  padding-left: 5vw;
  min-width: 300px;
  margin-top: 3rem;
  
  
}
p {
  margin-top: 2rem;
  text-align: center;
  text-wrap: wrap;
  word-wrap: normal;
  padding: 1rem;
  /* max-width: 530px; */
  
}

.app {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  align-self: center;
  scale: 0.9;
}

button {
  padding: 1rem 6rem;
  border-radius: 21px;
  border: 2px solid #e7ba30;
  background-color:#e7ba30;
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
}


button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #e7ba30;
}

.partner {
  align-self: center;
  margin-top: 2rem;
}



@media screen and (max-width: 1200px) {

  .description{
  padding-top: 3rem;
  font-size: 1.6rem;
  /* padding-left: 0; */
}

.app {
  scale: 0.6;
}

button {
  padding: 1rem 4rem;
  font-size: 1.6rem;
}
.screen {
  scale: 0.9;
}
}


label{
  margin-right: 10px;
}
select {
  padding: 0.1rem 0.1rem;
  border-radius: 21px;
  border: 2px solid #e7ba30;
  background-color:#e7ba30;
  color: black;
  font-size: 1.1rem;
  font-weight: bold;


  position: absolute;
  bottom: -30px;
  right: 0.7rem;
}

/* select:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #e7ba30;
} */



.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}


.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
background-color: #fff;
color: black;
max-width: 800px;
padding: 30px;
padding-bottom: 70px;
position: relative;
}

.popup__close {
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-size: 20px;
  background-color: #242b33;
  padding: 0.5rem 1.5rem;
}
.popup__exit {
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 20px;
  background-color: #242b33;
  padding: 0.5rem 1.5rem;
}

.popup__title {
 font-size: 36px;
 margin: 0px 0px 1rem 0px;
}



@media screen and (max-width: 785px) {
  
  .about {
    display: block;
    text-align: center;
  }

  .screen {
    display: flex;
   justify-content: center;
   margin-top: -1.5rem;
   margin-bottom: -3rem;
   min-width: 345px;
   margin-left: 0px;
   
}

  p {
    margin-top: 2rem;
}
.app {
  margin-top: 1rem;
}

ul {
  scale: 0.9;
}
.description{
  margin-top: -6rem;
  padding-left: 0.1rem;
  padding-right:0.1rem;
}
}

@media screen and (max-width: 470px) {

  
p {
  margin-top: 1rem;
}
.app {
  scale: 0.5;
  margin-top: 0rem;
}
}






.video {
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 1rem;

}


.video__link {
  position: relative;
  display: inline-block;
  text-align: center;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  transition: background-color 0.2s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.7);
}

.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 959px) {
  .video__icon {
    width: 60px;
    height: 60px;
  }

}

.video__link:hover .video__icon {
  transform: translate(-50%, -50%) scale(1.2);
  filter: saturate(1.7);
} 

.video__img{
  max-width: 80%;

}